.mb-medicine-details-header-wrapper {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  padding: 12px;
  column-gap: 42px;

  .tablet-name {
    width: 230px;
  }
  .quantity, .total {
    width: 120px;
  }
  .batch-no, .mfd-by, .date-of-exp {
    width: 120px;
  }
  .price {
    width: 120px;
  }
}

.mb-medicine-details-add-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 12px 0;
}

.mb-medicine-details-footer {
  text-align: center;
  padding: 12px;
  font-weight: bold;
  font-size: 18px;
}
