.mb-medicine-details-item-container {
  display: flex;
  column-gap: 42px;
  //justify-content: space-between;
  align-items: center;
  padding: 12px;

  .tablet-name {
    width: 230px;
  }
  .quantity, .total {
    width: 120px;
  }
  .price {
    width: 120px;
  }
}
