/**
 * COPYRIGHT NOTICE Deepen AI, Inc. 2017-2020
 * This software maybe subject to pending patent applications
 */


$onyx: #1c252e;
$grey1: #454a54;
$grey2: #788090;
$grey3: #a8afbd;
$grey4: #cdd1d9;
$grey5: #ebecf0;
$off-white: #fafbfc;
$white: #ffffff;

$blue-50: #e8f0fc;
$blue-100: #BBD3F7;
$blue-300: #77A7EF;
$blue-500: #1c6ce5;
$blue-700: #144ca0;
$blue-900: #0b2b5c;

$yellow-50: #fff8e6;
$yellow-100: #ffefbf;
$yellow-300: #ffdf80;
$yellow-500: #ffbf00;
$yellow-700: #be8e00;
$yellow-900: #7e5e00;

$green-50: #ebfaf5;
$green-100: #cdf4e5;
$green-300: #9ceacc;
$green-500: #39d599;
$green-700: #2a9e72;
$green-900: #1c694b;

$red-50: #fff0f0;
$red-100: #ffd9da;
$red-300: #ffb3b5;
$red-500: #ff676b;
$red-700: #be4c4f;
$red-900: #7e3335;
