/**
 * COPYRIGHT NOTICE Deepen AI, Inc. 2017-2020
 * This software maybe subject to pending patent applications
 */


$h1-fontSize: 3.2rem;
$h2-fontSize: 2.4rem;
$h3-fontSize: 1.8rem;
$h4-fontSize: 1.6rem;
$h5-fontSize: 1.4rem;
$h6-fontSize: 1.3rem;

$paragraph-1-fontSize: 1.6rem;
$paragraph-2-fontSize: 1.4rem;
$paragraph-3-fontSize: 1.3rem;
$paragraph-4-fontSize: 1.2rem;
$paragraph-5-fontSize: 1.1rem;
$paragraph-6-fontSize: 1rem;

$textLabel-1-fontSize: 1.4rem;
$textLabel-2-fontSize: 1.3rem;
$textLabel-3-fontSize: 1.2rem;
$textLabel-4-fontSize: 1.1rem;

$h1-fontWeight: 700;
$h2-fontWeight: 700;
$h3-fontWeight: 700;
$h4-fontWeight: 700;
$h5-fontWeight: 700;
$h6-fontWeight: 700;

$paragraph-1-fontWeight: 400;
$paragraph-2-fontWeight: 400;
$paragraph-3-fontWeight: 400;
$paragraph-4-fontWeight: 400;

$textLabel-1-fontWeight: 700;
$textLabel-2-fontWeight: 700;
$textLabel-3-fontWeight: 700;
$textLabel-4-fontWeight: 700;
