@use "./_font-styles";
@use "./_spacings";

@mixin default-vertical-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        position: absolute;
        right: 0;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@mixin default-horizontal-scrollbar {
    &::-webkit-scrollbar {
        height: 6px;
        position: absolute;
        right: 0;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@mixin thin-vertical-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
        position: absolute;
        right: 0;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@mixin thin-horizontal-scrollbar {
    &::-webkit-scrollbar {
        height: 4px;
        position: absolute;
        right: 0;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@mixin default-horizontal-scrollbar {
    &::-webkit-scrollbar {
        height: 6px;
        position: absolute;
        right: 0;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@mixin flex-center-h-v {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin fvc-text-link-as-text-button {
    -webkit-appearance: none;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

@mixin annotate-default-dropdown-style {
    .dropdown {
        .dropdown-trigger {
            width: 100%;
            padding: spacings.$spacing-0-5 spacings.$spacing-0-5 spacings.$spacing-0-5 spacings.$spacing-1;
            white-space: nowrap;
            text-align: left;
            font-size: font-styles.$paragraph-5-fontSize;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: default;

            i.material-icons-outlined {
                font-size: 1.8rem;
            }
        }

        .dropdown-menu {
            min-width: 200px;

            .dropdown-menu-item-header {
                font-size: font-styles.$paragraph-6-fontSize;
            }

            .dropdown-menu-item {
                height: 28px;
                font-size: font-styles.$paragraph-5-fontSize;
                cursor: default;

                i.material-icons-outlined.activeIcon {
                    font-size: 1.8rem;
                }

                &.active {
                    font-weight: 500;
                }
            }
        }
    }
}


@mixin data-ops-lidar-viewer-sync-point-label-text {
    padding: spacings.$spacing-0-5 spacings.$spacing-1;
    box-sizing: border-box;
    font-size: font-styles.$paragraph-6-fontSize;
    word-break: break-all;
    position: absolute;
    border-radius: 4px;
    pointer-events: none;
    user-select: none;
}

@mixin default-layout-container-style {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
}

@mixin default-layout-container-horizontal-padding {
    padding-left: spacings.$spacing-4;
    padding-right: spacings.$spacing-4;
}

@mixin default-layout-container-vertical-padding {
    padding-top: spacings.$spacing-4;
    padding-bottom: spacings.$spacing-4;
}
