/**
 * COPYRIGHT NOTICE Deepen AI, Inc. 2017-2020
 * This software maybe subject to pending patent applications
 */


$SPACING_CONST: 0.8;
$spacing-0: $SPACING_CONST * 0;
$spacing-0-5: $SPACING_CONST * 0.5rem;
$spacing-1: $SPACING_CONST * 1rem;
$spacing-1-5: $SPACING_CONST * 1.5rem;
$spacing-2: $SPACING_CONST * 2rem;
$spacing-2-5: $SPACING_CONST * 2.5rem;
$spacing-3: $SPACING_CONST * 3rem;
$spacing-3-5: $SPACING_CONST * 3.5rem;
$spacing-4: $SPACING_CONST * 4rem;
$spacing-4-5: $SPACING_CONST * 4.5rem;
$spacing-5: $SPACING_CONST * 5rem;
$spacing-5-5: $SPACING_CONST * 5.5rem;
$spacing-6: $SPACING_CONST * 6rem;
